<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbc.bbclub.b">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="559b41d5017bdb88812614b983b618cb" />



        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".shop.ShopInfoActivity" />
        <activity android:name=".shop.UpdateShopActivity" />
        <activity android:name=".shop.UpdateAdressActivity" />
        <activity android:name=".shop.CorporateActivity" />
        <activity android:name=".shop.BankCardActivity" />
        <activity android:name=".shop.LicenseActivity" />
        <activity android:name=".Scan.ScanActivity" />
        <activity android:name=".Scan.ScanSuccessActivity" />
        <activity android:name=".Scan.PersonInfoActivity" />
        <activity android:name=".Account.AccountMonthActivity" />
        <activity android:name=".Account.ShenHeActivity" />
        <activity android:name=".Account.FailAccountActivity" />
        <activity android:name=".video.UploadVideoActivity" />
        <activity android:name=".video.EditVideoActivity"></activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


</manifest>